{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Add Club
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Club</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_club_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>Club Name </label>
                                <input type="text" class="form-control" name="club_name" placeholder="Enter Name">
                            </div>
                            
                            <div class="form-group">
                                <label>Lead </label>
                                <input type="text" class="form-control" name="club_lead" placeholder="Enter Lead">
                            </div>
                            
                            <div class="form-group">
                                <label>Contact </label>
                                <input type="email" class="form-control" name="club_lead_contact" placeholder="Enter Mail">
                            </div>
                            
                            <div class="form-group">
                                <label>Description </label>
                                <textarea id="club_desc" name="club_desc" rows="4" cols="50" placeholder="Enter Club Details"></textarea>
                            </div>
                            
                            <!-- <div class="form-group">
                                <label>File </label>
                                <input type="file" class="form-control" name="club_file">
                            </div> -->
                            


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add Club</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}